<menu id="subnav">
    <ul>
        <li> <a  [routerLink]="['engagement']" routerLinkActive="selected"><img src="{{Images.engagementIcon}}">Engagement</a></li>
        <li> <a  [routerLink]="['professional-experience']" routerLinkActive="selected"><img src="{{Images.proExpIcon}}">Professional Experience</a></li>
        <li> <a  [routerLink]="['licensing']" routerLinkActive="selected"><img src="{{Images.regCertIcon}}">Licensing</a></li>
        <li> <a  [routerLink]="['investment-utilization']" routerLinkActive="selected"><img src="{{Images.investmentIcon}}">Investment Utilization</a></li>
    </ul>
</menu>