#form {
  margin-top: 5px;
}
p {
  text-align: left;
  margin-left: 100px;
  padding-bottom: 15px;
}
a#dashboard-link:hover {
  color: #bdb0b0;
}
#membership_form {
  width: 60%;
}

.form-button button {
    width: auto;
}
