<ng-container *ngIf="form">
    <app-dialog-display [title]="title">
        <form [formGroup]="form" class="form-container">
            <div class="form-group">
                <label for="association_Name"
                    [class.required]="form.get('association_Name')?.errors?.required">Association/Group Name</label>
                <input type="text" id="association_Name" formControlName="association_Name">
            </div>
            <div class="form-group">
                <div>
                    <span>Years Involved:</span>
                </div>
                <div id="dual-input">
                    <div class="grid_3">
                        <label for="start_Year" [class.required]="form.get('start_Year')?.errors?.required">From</label>
                        <ng-select [items]="startYears" [clearable]="true" [notFoundText]="'Year not found'"
                        [placeholder]="'Select Year'" [selectOnTab]="true" id="start_Year"
                        formControlName="start_Year" class="select"></ng-select>
                    </div>
                    <div class="grid_3">
                        <label for="end_Year" [class.required]="form.get('end_Year')?.errors?.required">To</label>
                        <ng-select [items]="endYears" [clearable]="true" [notFoundText]="'Year not found'"
                        [placeholder]="'Select Year'" [selectOnTab]="true" id="end_Year"
                        formControlName="end_Year" class="select"></ng-select>
                    </div>
                </div>
            </div>
            <div class="form-group clear-float">
                <label for="is_Present" [class.required]="form.get('is_Present')?.errors?.required">
                    <input type="checkbox" id="is_Present" formControlName="is_Present">
                    Is Present</label>
            </div>
            <hr />
            <div class="btn-container clear-float">
                <button (click)="saveForm()" [disabled]="form.invalid">Save</button>
                <button (click)="close()">Close</button>
            </div>
        </form>
    </app-dialog-display>
</ng-container>