.welcome {
  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p, span {
    font-size: 14px;
    line-height: 16px;
    color: #001e44;
    font-family: "Montserrat", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    font-size: 24px;
    color: #001e44;
    text-align: center;
    padding-top: 10px;
  }

  h2 {
    font-size: 20px;
    color: #001e44;
    font-weight: 500;
  }

  h3 {
    font-size: 18px;
    color: #001e44;
    font-weight: 500;
  }

  h4 {
    font-size: 14px;
    color: #50606f;
  }

  h5 {
    font-size: 10px;
    color: #aaa;
  }

  ul {
    overflow: hidden;
  }

  li {
    margin-left: 0;
    list-style: none;
  }

  .hotLink {
    background: #009cde;
    padding: 15px;
  }

  .button {
    background: #009cde;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    padding: 15px;
    font-size: 14px;
    line-height: 34px;
    cursor: pointer;
  }

  /******************
Main
******************/
  #main {
    margin-top: 300px;
  }

  #main img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #main a {
    display: block;
    text-align: center;
    text-decoration: none;
  }

  #main a:hover {
    color: #009cde;
  }

  #subnav {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin-top: 50px;
  }

  /******************
Sidebar
******************/
  #sidebar {
    background: #fff;
    height: 100%;
  }

  #sidebar h1 {
    text-align: left;
    margin-top: 15px;
    margin-left: 100px;
  }

  #sidebar span {
    display: block;
    text-align: left;
    margin-bottom: 15px;
  }
  
  #sidebar img {
    margin-top: 220px;
    margin-left: 100px;
    padding-top: 50px;
  }

  #sidebar ul {
    margin-left: 100px;
  }

  #sidebar li {
    float: left;
    padding-right: 15px;
  }

  #sidebar a {
    text-decoration: none;
  }

  #sidebar a:hover {
    color: #fff;
    opacity: 0.7;
  }

  /******************
Footer
******************/

  #footer {
    clear: both;
    height: 50px;
  }

  #siteInfo p {
    color: #333;
    font-size: 10px;
    line-height: 50px;
  }
  
}

