<div id="quicklinks" *ngIf="false">
    <menu id="qlinks">
        <h2>Quick Links</h2>
        <ul>
            <li><a href="https://gva.flxdst.com/gva/corporate-members/asset-managers"><img src="{{Images.quickLinksIcon}}">Asset Managers</a></li>
            <li><a href="https://gva.flxdst.com/resources"><img src="{{Images.quickLinksIcon}}">Intelligence</a></li>
            <li><a href="https://gva.flxdst.com/gva-fsp"><img src="{{Images.quickLinksIcon}}">Solutions Providers</a></li>
            <li><a [routerLink]="['/members']"><img src="{{Images.quickLinksIcon}}">Members</a></li>
        </ul>
    </menu>
</div>
