<div id="membership_form" *ngIf="form">
    <h3>FORGOT YOUR PASSWORD?</h3>
    <span>No problem! Just enter your email address and we’ll send you a code to reset your password.</span>
    <form [formGroup]="form" (submit)="resetPassword()">
        <label for="email" [class.required]="form.get('is_Present')?.errors?.required">email</label>
        <input type="text" id="email" name="email" placeholder="email" formControlName="email">
        <div class="form-button">
            <button type="submit" [disabled]="form.invalid">Submit</button>
        </div>
    </form>
    <a [routerLink]="['/account/signin']" class="forgot-password">Back to login</a>
</div>